<form action="/user/create" method="POST" class="form-signin">
  <h2 class="form-signin-heading">Create an account</h2>

  <input type="text" class="form-control" placeholder="Name" name="name">
  <input type="text" class="form-control" placeholder="Team Name" name="title">
  <input type="text" class="form-control" placeholder="Email address" name="email">
  <input type="text" class="form-control" placeholder="Password" name="password">
  <input type="text" class="form-control" placeholder="Verify password" name="confirmation">
  <br />

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account">
  <input type="hidden" class="_csrf" value="<%= _csrf %>" />

</form>
